<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="../css/det_pro.css">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icons/howllericon-01.png">

    <title>Howller</title>
</head>
<body>
<div class="head-fixed">

        <div class="top">
            <a class="burger-container" href="#">
                <img src="img/logos/burger.svg" alt="">
            </a>

            <a class="logo-container" href="/">
                <img src="img/logos/00 logotipo-01.svg" alt="">
            </a>

            <a class="user-container" href="/login">
                <img src="img/logos/user.svg" alt="">
            </a>
            <a class="cart-container" href="/cart">
                <img src="img/logos/cart.svg" alt="">
            </a>
        </div>

        <div class="busqueda">
            <input type="text" placeholder="BUSCAR">
        </div>


    </div>

<main>
    <div class="conteinerproduct">
        <div class="cont_img_mas">
            <div class="colum_img_mas">
                <img src="img/products/07.jpg" alt="">
                
            </div>
            <div class="colum_img_mas">
                <img src="img/products/07.jpg" alt="">
                
            </div>
            <div class="colum_img_mas">
                <img src="img/products/07.jpg" alt="">
                
            </div>
            <div class="colum_img_mas">
                <img src="img/products/07.jpg" alt="">
            </div>
        </div>
        <div class="cont_img_principal">
            <div class="colum_img_prin">
                <img src="img/products/07.jpg" alt="">
                </div>
        </div>

        
        <div class="descipcion_product">
                <div class="h2_p">
                <h2>Producto 1</h3>
                <p>$12345</p>
                </div>
                <div class="tallas">
                    <div class="ch">CH</div>
                    <div class="g">G</div>
                    <div class="m">M</div>
                    <div class="eg">EG</div>

                </div>
                <div class="h2_p">
                <i class="fa fa-table" aria-hidden="true"></i>
                <a href="" style="text-align: center ;">Guia de tallas</a>
                </div>   
                <div >
                    <button class="button">AGREGAR AL CARRITO</button>
                </div> 
                <div class="h2_p">
                    <h2>DESCRIPCIÓN</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos explicabo alias doloremque atque error quis voluptas eveniet tempora? 
                        Obcaecati voluptates adipisci repellendus possimus sunt illum dolore cum. Asperiores, iste quos.</p>
                </div>
                <div class="h2_p">
                    <h2>COMPARTE</h3>
                        <img style="text-align: center ;" src="../img/icons/facebook.svg" alt="">
                        <img style="text-align: center ;" src="../img/icons/instagram.svg" alt="">
                        <img style="text-align: center ;" src="../img/icons/twitter.svg" alt="">
                </div>
           
        </div>
        
    </div>

    <div class="conteinerproduct">
        <div class="descipcion_product">
            <h2>Productos relacionadados</h2> 
        </div>
       
        <div class="cont_img_mas2">
            <div class="colum_img_mas">
                <img src="img/products/08.jpg" alt="">
                
            </div>
            <div class="colum_img_mas">
                <img src="img/products/01.jpg" alt="">
                
            </div>
            <div class="colum_img_mas">
                <img src="img/products/02.jpg" alt="">
                
            </div>
            <div class="colum_img_mas">
                <img src="img/products/03.jpg" alt="">
            </div>
        </div>
        
        </div>

</main>

</body>


<footer>
    <div class="ft">
        <div class="ff">
            <div> Nosotros </div>
            <ul>
                <li>
                    <a href="#">Acerca de nosotros</a>
                </li>

                <li>
                    <a href="#"> Bolsa de trabajo</a>
                </li>
            </ul>
            </div>

            <div class="ff">
                <div>Atención a clientes</div>
                <ul>
                    <li>
                        <a href="#">Contacto</a>
                    </li>

                    <li>
                        <a href="#">Preguntas frecuentes</a>
                    </li>

                    <li>
                        <a href="#">Cambios y devoluciones</a>
                    </li>
                </ul>
                </div>

                <div class="ff">
                    <div> Envíos</div>
                    <ul>
                        <li>
                            <a href="#">Envíos gratis</a>
                        </li>

                        <li>
                            <a href="#">Meses sin intereses</a>
                        </li>
                    </ul>
                    </div>
    </div>

    <div class="social">
        <a class="socialmedia-container" href="#">
            <img src="img/icons/facebook.svg" alt="">
        </a>

        <a class="socialmedia-container" href="#">
            <img src="img/icons/instagram.svg" alt="">
        </a>

        <a class="socialmedia-container" href="#">
            <img src="img/icons/twitter.svg" alt="">
        </a>
    </div>

<div class="copyright"> ©2021, Howller todos los derechos reservados </div>
    
</footer>
</html>