<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icons/howllericon-01.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/style_login.css">
    <link rel="stylesheet" href="/css/home.css">

    <title>Howller</title>
</head>
<body>
<!-- HEADER-->
<%- include('../partials/header') %>

<main>
	<h1 class="title"> ¡Hola, <%= user.firstName %>! </h1>

    <h3> Vistos recientemente </h3>

    <div class="product-container">
        <a href="#">
            <img src="../img/products/10/10-1.jpg" alt="">
        </a>
        <span>
                producto
            </span>

        <div class="sizes">
            <span> CH </span>
            <span> M </span>
            <span> G </span>
            <span> EG </span>
        </div>

        <span id="precio">
                $ 250
            </span>

    </div>

    <div class="product-container">
        <a href="#">
            <img src="../img/products/15/15-1.jpg" alt="">
        </a>
        <span>
                producto
            </span>

        <div class="sizes">
            <span> CH </span>
            <span> M </span>
            <span> G </span>
            <span> EG </span>
        </div>

        <span id="precio">
                $ 250
            </span>

    </div>

    <div class="product-container">
        <a href="#">
            <img src="../img/products/07/07-1.jpg" alt="">
        </a>
        <span>
                producto
            </span>

        <div class="sizes">
            <span> CH </span>
            <span> M </span>
            <span> G </span>
            <span> EG </span>
        </div>

        <span id="precio">
                $ 250
            </span>

    </div>

        <div class="product-container">
        <a href="#">
            <img src="../img/products/22/22-1.jpg" alt="">
        </a>
        <span>
                producto
            </span>

        <div class="sizes">
            <span> CH </span>
            <span> M </span>
            <span> G </span>
            <span> EG </span>
        </div>

        <span id="precio">
                $ 250
            </span>

    </div>

    
    <h3> Tal vez te puede gustar </h3>

    <div class="product-container">
        <a href="#">
            <img src="../img/products/04/04-1.jpg" alt="">
        </a>
        <span>
                producto
            </span>

        <div class="sizes">
            <span> CH </span>
            <span> M </span>
            <span> G </span>
            <span> EG </span>
        </div>

        <span id="precio">
                $ 250
            </span>

    </div>

    <div class="product-container">
        <a href="#">
            <img src="../img/products/12/12-1.jpg" alt="">
        </a>
        <span>
                producto
            </span>

        <div class="sizes">
            <span> CH </span>
            <span> M </span>
            <span> G </span>
            <span> EG </span>
        </div>

        <span id="precio">
                $ 250
            </span>

    </div>

    <div class="product-container">
        <a href="#">
            <img src="../img/products/03/03-1.jpg" alt="">
        </a>
        <span>
                producto
            </span>

        <div class="sizes">
            <span> CH </span>
            <span> M </span>
            <span> G </span>
            <span> EG </span>
        </div>

        <span id="precio">
                $ 250
            </span>

    </div>

        <div class="product-container">
        <a href="#">
            <img src="../img/products/24/24-1.jpg" alt="">
        </a>
        <span>
                producto
            </span>

        <div class="sizes">
            <span> CH </span>
            <span> M </span>
            <span> G </span>
            <span> EG </span>
        </div>

        <span id="precio">
                $ 250
            </span>

    </div>





</main>

<!-- <img src="/img/avatars/<%= user.avatar %> " > -->


</body>

<%- include('../partials/footer') %>

</html>